@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #47173b;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: rgb(247, 9, 147);
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; 
}

.menu li:hover a{
  background-color: rgb(247, 9, 147);
  color: #47173b;
}

.menu .active {
  color: rgb(247, 9, 147);
 
}


.menu li a:hover {
  color: rgb(247, 9, 147);
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: rgb(247, 9, 147);
}

.download-cv {
  padding: 10px 20px;
  background-color: rgb(247, 9, 147);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgb(247, 9, 147);
  -moz-box-shadow: 1px 3px 11px -5px rgb(247, 9, 147);
  box-shadow: 1px 3px 11px -5px rgb(247, 9, 147);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid rgb(71, 35, 75);
  width: 350px;
  height: 520px;
  z-index: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info p {
    color: #000000;
    font-size: 2em;
}
.about-info h2 {
  font-size: 3em;
  color: #47173b;
}


.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #47173b;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color:rgb(247, 9, 147);
}


.portfolio-heading {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.card {
  margin: auto;
  background-color: #68044f;
  align-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #bb57a2;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}